[submodule "rp2040-console"]
	path = rp2040-console
	url = https://github.com/UMDBPP/rp2040-console.git
	branch = main
[submodule "std-cmd"]
	path = std-cmd
	url = https://github.com/UMDBPP/std-cmd.git
	branch = main
[submodule "rp2040-config"]
	path = rp2040-config
	url = https://github.com/UMDBPP/rp2040-config.git
	branch = main
[submodule "rp2040-ms5607-lib"]
	path = rp2040-ms5607-lib
	url = https://github.com/UMDBPP/rp2040-ms5607-lib.git
	branch = main
[submodule "rp2040-drf1262-lib"]
	path = rp2040-drf1262-lib
	url = https://github.com/UMDBPP/rp2040-drf1262-lib.git
	branch = main
